<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Document</title>
    <style>
        /* thead{
            width: 500px;
        } */
        table {
            width: 800px;
            border: 1px rgb(114, 102, 100) dashed;
            text-align: center;
            border-collapse: collapse;
        }

        table tr>th {
            background: beige;
        }

        table tr:nth-child(2n) {
            background: rgb(228, 228, 222);
        }

        table tr td {
            border: 1px rgb(114, 102, 100) dashed;
        }

        span {
            cursor: pointer;
        }

        span:hover {
            color: brown;
        }
    </style>
</head>

<body>
    <div id="app">
        <div>
            编号：<input type="text" v-model='bianhao' :disabled='flag' v-focus>
            名称：<input type="text" v-model='mingcheng'>
            <button @click='tijiao(bianhao,mingcheng)' :disabled='flagsub'>提交</button>
            <div>图书总数：<span v-text='sum'></span></div>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>名称</th>
                        <th>时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tr :key='item.bianhao' v-for='(item,index) in list'>
                    <td v-text='item.bianhao'></td>
                    <td v-text='item.mingcheng'>32</td>
                    <td v-text='item.shijian'>32</td>
                    <td><span @click='change(item.bianhao)'>修改</span> | <span @click='del(item.bianhao)'>删除</span></td>
                </tr>

            </table>
        </div>

    </div>

</body>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            bianhao: '',
            mingcheng: '',
            flag: false,
            flagsub: false,
            list: []
        },
        methods: {
            tijiao: function (b, m) {
                if (this.flag == false) {
                    var p = this.list.filter(function (lis) {
                        return lis.bianhao == b;

                    })
                    if (p.length == 0) {
                        this.list.push({
                            bianhao: b,
                            mingcheng: m,
                            shijian: new Date().toLocaleDateString()
                        }),
                            this.bianhao = '',
                            this.mingcheng = ''
                    }
                } else {
                    var that = this;
                    this.list.some(function (item) {
                        if (item.bianhao == that.bianhao) {
                            item.mingcheng = that.mingcheng;
                            return true;
                        }
                    }),

                        this.bianhao = '',
                        this.mingcheng = '',
                        this.flag = false
                }


            },
            del: function (i) {
                // var that=this;
                // this.list.some(function (item,index) {
                //     if (item.bianhao == i) {
                //         that.list.splice(index, 1);
                //         return true;
                //     }
                // })

                //另一个方法
                var index = this.list.findIndex(function (item) {
                    return item.bianhao == i;
                })
                this.list.splice(index, 1);

            },
            change: function (i) {
                this.flag = true;
                var p = this.list.filter(function (l) {
                    return l.bianhao == i;
                })
                this.bianhao = p[0].bianhao;
                this.mingcheng = p[0].mingcheng;
            }
        },
        //自定义指令
        directives: {
            focus: {
                inserted: function (el) {
                    el.focus();
                }
            }
        },
        //计算属性
        computed: {
            sum: function () {
                return this.list.length;
            }
        },
        //监听属性
        watch: {
            mingcheng: function (val) {
                //验证输入名称是否存在
                var flag = this.list.some(function (item) {
                    return item.mingcheng == val;
                })
                if (flag) {
                    this.flagsub = true;
                } else {
                    this.flagsub = false;
                }
            }
        },
        filters: {

        },
        mounted: function(){
            //该生命周期钩子函数被触发的时候，模板已经可以使用
            //一般此时用于获取后台数据，然后把数据填充到模板
            var data = [
                {
                    bianhao: '1',
                    mingcheng: '如来神掌',
                    shijian: '2020/05/05'
                },
                {
                    bianhao: '2',
                    mingcheng: '万剑归宗',
                    shijian: '2020/05/07'
                },
                {
                    bianhao: '3',
                    mingcheng: '九阳神功',
                    shijian: '2020/05/06'
                }
            ];
            this.list = data;

        }

    })
</script>

</html>