<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
    <style>
        .active{
            color: rgb(201, 201, 64);
        }
    </style>
</head>

<body>
    <div id="app">

        <hr>
        <cha-cao :list='list'>
           <template v-slot:default='slotProps'>
               <div v-if='slotProps.info.id==2' class="active">
                   {{slotProps.info.name}}
               </div>
           </template>
        </cha-cao>

    </div>
    <script>
        //具名插槽基本用法
        Vue.component('cha-cao', {
            props: ['list'],
            template: `
            <div>        
                <ul>
                     <li :key='item.id' v-for='item in list'>
                            <slot :info='item'>{{item.name}}</slot>
                     </li>
                </ul>
            </div>
            `
        })

        var vm = new Vue({
            el: "#app",
            data: {
                list: [
                    {
                        id: 1,
                        name: 'apple'
                    },
                    {
                        id: 2,
                        name: 'orange'
                    },
                    {
                        id: 3,
                        name: 'grape'
                    }
                ]
            },
            methods: {

            }

        })
    </script>
</body>

</html>